body {
  margin: 0;
  font-family: 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Roboto';
}

input[type="radio"]:checked + * {
  color: grey;
}

input[type="radio"]:checked + *::before {
  background: radial-gradient(grey 0%, grey 40%, transparent 50%, transparent);
  border-color: grey;
}
