.flex-container {
    display: flex;
    height: 200px;
    align-items: center;
    background-color: #f5d2fa;

}
  
.flex-container > div {
    background-color: #f1f1f1;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}

img {
  width: 25%;
  height: auto;
}

#page-container{
  display:flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  /* margin: 15px; */
}

.treat-list-images{
  display:flex;
  flex-direction: column;
  margin: 15px;
}

#page-container > div{
  display:flex;
  flex-direction: column;
  margin: 30px;
}

.side-by-side{
    display:flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    /* margin: 15px; */
}

/* #treats-page-container {
  margin-top: 10px;
} */