.header {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 35px;
}

#about-container {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
  
#about-container .segment {
  padding: 35px;
  background-color: hsl(291, 27%, 80%);
}
  
#about-container h1 {
  text-align: center;
}
  
#about-container div {
  font-size: 15px;
  text-align: left;
  margin-bottom: 10px;
}
  
#about-container .emphasized {
  font-size: 20px;
  font-weight: normal;
  /* font-style: italic; */
  margin-left: 25px;
  margin-right: 25px;
  text-align: center;
  font-weight: 450;
}

.ui header {
  font-family: "Roboto", sans-serif;
  font-size: 35px;
  font-weight: normal;
}
  
/* #about-container .back-btn {
  text-align: center;
} */
  