.cart-head {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 35px;
  text-align: center;
}

.cart-body{
  padding-bottom: 50px;
  /* min-height: 670px; */
}

.cart{
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 16px;
  text-align: center;
  margin: 0px 0px 15px;
}

.cart-price,.subtotal{
    margin-top: 50%;
    font-size: 30px;
}
  
.cart-head {
    font-size: px;
    /* font-family: 'Gotham'; */
    padding-bottom: 50px;
}   
  
.cart-font{
    color: white;
} 

.cart-total-cont{
    border-top: 2px solid black;
    padding: 30px;
}
  
.cart-desc{
  font-size: 30px; 
  /* font-family: 'Gotham'; */
} 
  
/* .item{
    font-size: 40px;
  }  */
.checkout-btn-wrapper{
  width: 100%;
}

.cart-total-cont .total-box h4 {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 18px;
}

.checkout-btn{
  float: right;
  padding: 25px;
  font-size: 20px;
  background-color: black;
  color: hsl(291, 27%, 80%);
  border: none;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  margin: 20px;
}

.checkout-btn:hover{
    background: #b6afb7;
    color: black;
}
