.checkout-form{
    display: flex;
    justify-content: space-between;
}

.checkout-form .left{
    background-color: #f2f2f2;
    flex: 0.6;
    min-height: 50vh;
    padding-top: 40px;
    padding-bottom: 50px;
    position: relative; /*added*/
}

.checkout-form .left form{
    width: 90%;
    display: block;
    margin: 0 auto;
}

.checkout-form .left form h2 {
    text-align: left;
    padding-left: 10px;
    color: #444;
    font-size: 20px;
}

.checkout-form .left form .input-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.checkout-form .left form input {
    width: 100%;
    box-sizing: border-box;
    padding: 15px 10px;
    border-radius: 6px;
    margin: 10px 5px;
    border-color: grey;
    background-color: #fff;
    border-style: solid;
}

.checkout-form .left form select {
    height: 49.5px;
    margin: 10px 5px;
    border-radius: 6px;
    border: 1px solid grey;
}

.checkout-form .left form select:invalid {
    color: grey;
}

.checkout-form .left form select option{
    color: #000;
}

.checkout-form .right {
    flex: 0.4;
    min-height: 50vh;
    background-color: #DBD2DA;
    padding-top: 40px;
    font-family: "Segoe UI";
    padding-bottom: 50px;
}

.checkout-form .right .name {
    font-size: 18px;
    font-weight: 500;
    text-align: left;
}

.checkout-form .right .subtotal-price {
    font-size: 17px !important;
    font-weight: 700;
}

.summary-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
}

.imageContainer{
    flex: 0.3;
    position: relative;
}

.imageContainer img {
    width: 100%;
    border-radius: 5px;
    object-fit: contain;
}

.imageContainer .count{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: grey;
    color: #fff;
    line-height: 25px;
    position: absolute;
    top: -12px;
    right: -12px;
}

.continue-button{
    height: 58px;
    width: 186px;
    background-color: #b6afb7;
    border: none;
    border-radius: 6px;
}

.submit-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.submit-group a {
    color: grey !important;
    font-size: 17px;
}

.checkout-signin {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.checkout-signin h2 {
    margin: 0;
}

.login-message a {
    margin-left: 5px;
}

.login-message {
    font-size: 15px;
}