.main-footer{
    font-family: "Avenir Next", sans-serif;
    font-size: 16px;
    padding: 40px;
    background-color: #f2f2f2;
    color: black;
}
  /* .{
    font-size: 40px;
  } */

.main-footer .container .row{
    display: flex;
    width: 100%;
    background-color: #f2f2f2;
}

.main-footer .container .row .column {
    display: flex;
    flex-direction: column;
}

.footer-li{
    font-family: "Avenir Next", sans-serif;
    font-size: 16px;
    padding: 15px;
    color:  black
}

.contact{
    font-family: "Avenir Next", sans-serif;
    font-size: 16px;
    color:  black;
}
  
.list-unstyled {
    margin: 0;
    list-style-type: none;
    line-height: 55%
}

.footer-button {
    width : 105px;
    height : 41px;
    background-color: black;
    color: #DBD2DA;
    border: none;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    margin: 100px;
}
/*This should make them change their color when they are hovered*/
.footer-button:hover {
    background: #DBD2DA;
    color: black;
}
