.main-footer{
    font-family: "Avenir Next", sans-serif;
    font-size: 16px;
    padding: 40px;
    background-color: #f2f2f2;
    color: black;
}

.main-footer .container .row{
    display: flex;
    width: 100%;
    background-color: #f2f2f2;
}

.main-footer .container .row .column {
    display: flex;
    flex-direction: column;
}

.footer-li{
    font-family: "Avenir Next", sans-serif;
    font-size: 16px;
    margin: 10px 0;
    color:  #444;
}

.footer-li a {
    color: #444;
}

.contact{
    font-family: "Avenir Next", sans-serif;
    font-size: 16px;
    color: #444 !important;
    margin: 10px 0 0 0;
}

.contact-container, .link-container {
    list-style: none;
    padding: 0;
}

.contact-container li {
    display: block;
    margin-bottom: 15px;
}

.social-title {
    margin: 15px 0 5px 0;
}

.social-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30%;
}

/* .footer-button {
    width : 105px;
    height : 41px;
    background-color: black;
    color: #DBD2DA;
    border: none;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    margin: 100px;
} */
/*This should make them change their color when they are hovered*/
/* .footer-button:hover {
    background: #DBD2DA;
    color: black;
} */
