/* .item{
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    padding: 15px;
} */
.nav-container {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.shopping-bag-icon{
    color: #a0a0a0;
}

.ui.menu.secondary {
    justify-content: space-between;
}

.ui.image img {
    margin: 0 auto;
}

.ui.secondary.pointing.menu .item.signin-out {
    /* align-self: flex-start; */
    padding-left: 0;
}

.ui.menu:after {
    display: none;
}

.item.signin-out:hover i, .item.signin-out:hover span {
    color: white;
}

.item:hover i, .item.signin-out:hover span {
    color: white;
}

.item:hover span.link{
    color: white;
}
