.shipping-form{
    display: flex;
    justify-content: space-between; 
}

.shipping-form .left{
    background-color: #f2f2f2;
    flex: 0.6;
    min-height: 670px;
    padding-top: 40px;
}

.shipping-form .left form{
    width: 90%;
    display: block;
    margin: 0 auto;
}

.shipping-form .left form .input-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.shipping-form .left form input {
    box-sizing: border-box;
    border: none;
    padding: 15px 10px;
    border-radius: 6px;
    flex: 0.8;
    font-size: 17px;
}

.shipping-form .left form select {
    height: 49.5px;
    margin: 10px 5px;
    border-radius: 6px;
    border: 1px solid #000;
}

.shipping-form .right {
    flex: 0.4;
    min-height: 50vh;
    background-color: #DBD2DA;
    padding-top: 40px;
    font-family: "Segoe UI";
}

.shipping-form .right .name {
    font-size: 18px;
    font-weight: 500;
    text-align: left;
}

.shipping-form .right .price {
    font-size: 15px;
    font-weight: 100;
}

.summary-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
}

.imageContainer{
    flex: 0.2;
    position: relative;
}

.imageContainer img {
    width: 100%;
    border-radius: 5px;
    object-fit: contain;
}

.imageContainer .count{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: grey;
    color: #fff;
    line-height: 25px;
    position: absolute;
    top: -12px;
    right: -12px;
}

.continue-button{
    height: 58px;
    width: 186px;
    background-color: #b6afb7;
    border: none;
    border-radius: 6px;
}

.combined-input {
    background-color: #fff;
    border: 1px solid grey;
    border-radius: 10px;
    padding: 10px;
}

.combined-input .input-group:nth-child(1){
    border-bottom: 1px solid grey;
}

.combined-input .input-group label {
    font-size: 17px;
    color: grey;
    flex: 0.2;
}

.combined-input.shipping-info .input-group input {
    flex: 0.1;
}

.combined-input.shipping-info .input-group label {
    flex: 0.9;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.combined-input.shipping-info .input-group label .shipping-cost {
    color: #333;
    font-weight: 600;
}

.combined-input.shipping-info .input-group {
    padding-top: 7px;
    padding-bottom: 7px;
}

.shipping-form h2 {
    font-size: 20px;
    text-align: left;
    color: #444;
}