.shipping-form{
    display: flex;
    justify-content: space-between; 
}

.shipping-form .left{
    background-color: #f2f2f2;
    flex: 0.6;
    min-height: 50vh;
    padding-top: 40px;
}

.shipping-form .left form{
    width: 90%;
    display: block;
    margin: 0 auto;
}

.shipping-form .left form .input-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.shipping-form .left form input {
    width: 80%;
    box-sizing: border-box;
    padding: 15px 10px;
    border-radius: 6px;
    margin: 10px 5px;
}

.shipping-form .left form select {
    height: 49.5px;
    margin: 10px 5px;
    border-radius: 6px;
    border: 1px solid #000;
}

.shipping-form .right {
    flex: 0.4;
    min-height: 50vh;
    background-color: #DBD2DA;
    padding-top: 40px;
    font-family: "Segoe UI";
}

.shipping-form .right .name {
    font-size: 18px;
    font-weight: 500;
    text-align: left;
}

.shipping-form .right .price {
    font-size: 15px;
    font-weight: 100;
}

.summary-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
}

.imageContainer{
    flex: 0.2;
    position: relative;
}

.imageContainer img {
    width: 100%;
    border-radius: 5px;
    object-fit: contain;
}

.imageContainer .count{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: grey;
    color: #fff;
    line-height: 25px;
    position: absolute;
    top: -12px;
    right: -12px;
}

.continue-button{
    height: 58px;
    width: 186px;
    background-color: #b6afb7;
    border: none;
    border-radius: 6px;
}