.row::after {
    content: "";
    clear: both;
    display: table;
  }

.column{
     /* border: 1px solid pink;  */
     width: 50%; 
     padding: 5px; 
   } 

.info {
  font-family: "Avenir-Next", sans-serif;
  font-size: 17px;
  text-align: center;
  color: black;
}
  
.add {
      color: dad2db(191,149,90,0.95);
      font-size: 30px;
      font-weight: bold;
      margin-left: 250px;
      display:flex; 
}

p:hover {
  color:  dad2db(191,149,90,0.95);
}  


/* .item-name {
  font-family: 'Gotham';
  font-size: 120px;
  color: #512c1d;
  
}
.price1 {
  padding-top: 510px;
  font-size: 100px;
  font-family: 'Gotham';
  color: #512c1d;
  display:flex;
  align-self: flex-end;
  margin-left: 45px;

 
}

.bean{
  color: #1f1815;
  font-size: 30px;
 display:flex; 
  align-items: center;
 margin-left: 150px;
 font-weight: bold;
}

.add1{
  display: flex;
 
  /* align-items: flex-start; */
  /* font-size: 30px;
  margin-top: 40px;
  color: rgba(191,149,90,0.95);
  font-weight: bold;
  margin-left: 170px;
  
  
}
.max{
  max-width: 450px;
  margin-bottom: 40px;
  
  max-width: 150px; */
/* }

.desc {
  font-size: 30px;

  display:flex;
  align-self: flex-end;
 
  line-height: 150%;  
}

.child {
  align-items:center;
  display:flex;
  border: 10px solid yellow;
}
.desc-info {
  padding: 175px;
  margin-top: 670px;
  /* margin-right: 1400px; */
/* }

  .detail-name{
    text-align: center;
    /* margin-top: 440px; */
    /* margin-left: 800px
  }   */

.treat-card{
  width: 30%;
  margin: 10px;
  float: left;
  min-height: 370px;
}
.treat-card img{
  width: 100%;
}