.treat-info-conatiner{
    min-height: 85vh;
}

.product-details-wrapper{
    font-family: "Avenir-Next", sans-serif;
    padding: 40px;
    max-width: 700px;
    max-height: 960px;
    margin-left: auto;
    border: 3px solid #73AD21;
}

.treat-name {
    font-family: "Avenir-Next", sans-serif;
    font-size: 22px;
}

.description{
    font-size: 16px;
}

.price {
    /* padding-top: 510px; */
    font-family: "Avenir-Next", sans-serif;
    font-size: 28px !important;
    font-weight: bold !important;
    /* display: flex; */
    /* align-self: flex-end;
    margin-left: 45px; */
  }

.add-button {
    width : 300px;
    height : 44px;
    background-color: black;
    /* color: hsl(293, 80%, 90%); */
    color: #dbd2da;
    /* border: none; */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    margin: 20px;
    border: none;
}
/*This should make them change their color when they are hovered*/
.add-button:hover {
    /* background: hsl(293, 80%, 90%); */
    background: #DBD2DA;
    color: black;
}
