.treat-info-container{
    /* min-height: 85vh; */
    padding: 100px 75px;
    display: flex;
    justify-content: space-between;
}

.product-details-image {
    flex: 0.4;
}

.product-details-wrapper{
    font-family: "Roboto", sans-serif;
    padding: 40px;
    max-width: 700px;
    margin-left: auto;
    flex: 0.4;
    background: white;
    box-sizing: border-box;
}

.treat-name {
    font-family: "Roboto", sans-serif;
    font-size: 22px;
}

.description {
    font-size: 16px;
    text-align: left;
    /* width: 500px; */
    padding: 40px;
}

.price {
    /* padding-top: 510px; */
    font-family: "Roboto", sans-serif;
    font-size: 28px !important;
    font-weight: bold !important;
    /* display: flex; */
    /* align-self: flex-end;
    margin-left: 45px; */
  }

.add-button {
    width : 300px;
    height : 44px;
    background-color: black;
    color: #DBD2DA;
    /* color: #dbd2da; */
    border: none;
    -moz-border-radius: 2px; 
    -webkit-border-radius: 2px; 
    margin: 20px;
}
/*This should make them change their color when they are hovered*/
.add-button:hover {
    /* background: hsl(293, 80%, 90%); */
    background:#DBD2DA;
    color: black;
}

.add-button:focus {
    outline: none;
}

.product-details-image img {
    width: 100%;
    object-fit: contain;
}
