.container {
  display: flex; 
  flex-direction: row;
  flex-flow: wrap;
  background-color: #f5d2fa;
  justify-content: space-between;
}

.container h1{
  flex: 0.3;
}

.container .treat-card-container{
  flex: 0.7;
}

.container > div {
  background-color: #f5d2fa;
  width: 600px;
  margin: auto;
  text-align: center;
  line-height: 25px;
  font-size: 17px;
}

.collection-header{
  display: inline-flex;
  font-family: "Avenir-Next", sans-serif;
  font-size: 35px;
  flex-direction: column;
  flex-flow: wrap;
}

img {
  width: 50%;
  height: auto;
}